html, body {
    height: 100%;
    min-height: 100%;
    color: #fff;
}

div#mastercontainer {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin-bottom: -100px;
}

div#header {
    background-color: #f00;
    height: 100px;
}

div#content {
}

div#innercontentmiddle {
    background-color: #0f0;
    margin: 0 auto;
    width: 300px;
}

div#footerclear {
}

div#footer {
    background-color: #00f;
    height: 100px;
}