html, body {
    height: 100%;
    min-height: 100%;
    color: #370037;
    background-color: #FFB8FF;
    font-family: 'Roboto Condensed', sans-serif;
}

div#mastercontainer {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin-bottom: -100px;
}

#event_list .event {
	padding: 2px;
}

#event_list .event_title {
	font-size: 35px;
	margin-bottom: 1px;
	margin-top: 1px;
}

#event_list .event_date {
	font-size: 20px;
}

#event_list .event_friends {
	font-size: 20px;
}

#event_list .event:hover {
	background-color: #370037;
	color: #FFCCFF;
}

#event_list div {
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 500px;
	background-color: #FFCCFF;
	font-size: 30px;
}

#event_list a {
	text-decoration: none;
	color: #370037;
}

#user_status {
	padding-right: 25px;
	float: right;
	line-height: 25px;
}

#logo {
	line-height: 25px;
	font-size: 30px;
	float: left;
	padding-left: 15px;
	font-weight: bold;
}

div#header {
    height: 100px;
    /*text-align: right;*/
}

div#content {
}

#reddit_post:hover span {
	display:none;
}

#reddit_post:hover:before { 
	content: "Let's make you look interesting";
}

#like_crush_objects_m:hover span {
	display:none;
}

#like_crush_objects_m:hover:before { 
	content: "Get some face time";
}

#like_crush_objects_f:hover span {
	display:none;
}

#like_crush_objects_f:hover:before { 
	content: "Get some face time";
}

#compliment_taste_m:hover span {
	display: none;
}

#compliment_taste_m:hover:before {
	content: "What Likes were made for";
}

#compliment_taste_f:hover span {
	display: none;
}

#compliment_taste_f:hover:before {
	content: "What Likes were made for";
}

#user_options .post_choice {
	color: #370037;
	background-color: #FFCCFF;
}

#user_options .post_choice_clicked {
	background-color: #370037;
	color: #FFCCFF;
	/*margin-top: 25px;
	margin-bottom: 25px;*/
}

#user_options div {
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 500px;
	background-color: #FFCCFF;
	font-size: 30px;
}

#user_options a {
	text-decoration: none;
	color: #370037;
}

#user_options div:hover {
	background-color: #370037;
	color: #FFCCFF;
}

#crush_portrait {
	border: solid;
	border-color: #370037;
	border-width: 5px;
}

div#innercontentmiddle {
    margin: 0 auto;
    width: 800px;
    text-align: center;
}

#dashboard_intro {
	font-size: 40px;
}

button {
	cursor: pointer;
	font-size: 40px;
}